body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    font-size: 16px;
    letter-spacing: 0.02em;
    font-weight: 400;
    background-color: #FFFFFF;
}

h1 {
    color: white;
    font-size: 56px;
    line-height: 60px;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2; 
    color: #2e2f42;
    letter-spacing: 0.02em;
}

h3 {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}

a {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
    color: #434455 ;
}

.main-title {
    line-height: 1.07;
    text-align: center;
}

.section-team {
    background-color: #F4F4FD;
}

.section-title {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize
}

.team {
    background-color: #FFFFFF;
}

.address {
    font-style: normal;
}

.address-text {
    line-height: 1.5;
    color: #434455;
}

.address-text:hover,
.address-text:focus {
    color: #404bbf;
}

button {
    cursor: pointer;
    background-color: #4D5AE5;
    letter-spacing: 0.04em;
    line-height: 24px;
    color: white;
    font-weight: 500;
}

button:hover,
button:focus {
    background-color: #404BBF;
}

.main-page {
    background-color: #2E2F42;
}

nav ul li>a {
    color: #2e2f42;
}

nav ul li a:hover,
nav ul li a:focus {
    color: #404BBF; 
}

.post {
    background-color: #FFFFFF;
}

.active-menu {
    font-weight: 500;
    line-height: 1.5;
}

.active-menu>a:active {
    text-decoration: underline;
}

.logo {
    text-transform: uppercase;
    color: #4d5ae5;
    font-weight: 700;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.main-logo {
    color: #2e2f42;
}

.footer-logo {
    color: #F4F4FD;
}

.footer-text {
    color: #F4F4FD;
}

footer {
    background-color: #2E2F42;
}

